.contactListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    font-size: 22px;
}

.contactListButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    box-sizing: border-box;
    width: 80px;
    outline: none;
    border: 1px solid #252627;
    border-radius: 3px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #2a2b2d;
    background-color: rgb(253, 249, 249);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}